{% schema %}
{
  "name": "Extra benifits",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "banner image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "banner image mobile"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "alt text"
    },
    {
      "type": "header",
      "content": "Padding (Desktop)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding right",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding (Mobile)"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top (mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom (mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding left (mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding right (mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "benifits",
      "name": "benifits",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "100% free shipping"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Extra benifits"
    }
  ]
}
{% endschema %}

<section
  class="extra-benefits"
  style="
    --extra-benefits-pt: {{ section.settings.padding_top }}px;
    --extra-benefits-pr: {{ section.settings.padding_right }}px;
    --extra-benefits-pb: {{ section.settings.padding_bottom }}px;
    --extra-benefits-pl: {{ section.settings.padding_left }}px;
    --extra-benefits-pt-mobile: {{ section.settings.padding_top_mobile }}px;
    --extra-benefits-pr-mobile: {{ section.settings.padding_right_mobile }}px;
    --extra-benefits-pb-mobile: {{ section.settings.padding_bottom_mobile }}px;
    --extra-benefits-pl-mobile: {{ section.settings.padding_left_mobile }}px;
  "
>

  <!-- Banner -->
  <div class="extra-benefits__banner">
    {% if section.settings.image %}
      {{
        section.settings.image
        | image_url: width: 2000
        | image_tag:
          class: 'extra-benefits__image',
          loading: 'lazy',
          alt: section.settings.alt_text
      }}
    {% endif %}

    {% comment %} {% if section.settings.heading %}
      <h2 class="extra-benefits__heading">
        {{ section.settings.heading }}
      </h2>
    {% endif %} {% endcomment %}
    {% if section.settings.image_mobile %}
      {{
        section.settings.image_mobile
        | image_url: width: 2000
        | image_tag:
          class: 'extra-benefits__image_mobile',
          loading: 'lazy',
          alt: section.settings.alt_text
      }}
    {% endif %}
  </div>

  <!-- Benefits Row -->
  <div class="overlay"></div>
  <div class="extra-benefits__row">
    {% for block in section.blocks %}
      <div class="extra-benefits__item">

        {% if block.settings.icon %}
          {{
            block.settings.icon
            | image_url: width: 80
            | image_tag:
              class: 'extra-benefits__icon',
              loading: 'lazy'
          }}
        {% endif %}

        <div class="extra-benefits__title">
          {{ block.settings.title }}
        </div>

      </div>
    {% endfor %}
  </div>

</section>
<style>
  #shopify-section-{{ section.id }} .extra-benefits {
    width: 100%;
    padding-top: var(--extra-benefits-pt);
    padding-right: var(--extra-benefits-pr);
    padding-bottom: var(--extra-benefits-pb);
    padding-left: var(--extra-benefits-pl);
  }
  .extra-benefits__image_mobile {
  display: none;
  }
/* ===== Banner ===== */
.extra-benefits__banner {
  position: relative;
  text-align: center;
}

.extra-benefits__image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.extra-benefits__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F6F6F6;
  width:100%;
  border-top:1px solid #FFFFFF33;
  border-bottom:1px solid #FFFFFF33;
  white-space: nowrap; 
  font-family: 'Bebas Neue',sans-serif;
  font-weight: 400;
  font-size: 68px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  padding:18px 0px;

}

/* ===== Benefits Row ===== */
.extra-benefits__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: white;
  padding: 20px 16px;
}

.extra-benefits__item {
  text-align: center;
  padding: 4px 0px;
  position: relative;
}

.extra-benefits__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 90%;
  width: 1px;
  background: #ddd;
}

.extra-benefits__icon {
  width: 36px;
  height: 36px;
  margin-bottom: 6px;
}

.extra-benefits__title {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  max-width:180px;
  margin:0 auto;
  color:#1E1E1E;

}
@media (max-width:768px){
  .extra-benefits__image_mobile {
    display: block;
  }
  .extra-benefits__image {
    display: none;
  }
  #shopify-section-{{ section.id }} .extra-benefits {
    position: relative;
    padding-top: var(--extra-benefits-pt-mobile);
    padding-right: var(--extra-benefits-pr-mobile);
    padding-bottom: var(--extra-benefits-pb-mobile);
    padding-left: var(--extra-benefits-pl-mobile);
  }
  .extra-benefits__image{
  height:240px;
  }
.extra-benefits__heading {
  top: 28px;
  border:none;
  font-size: 20px;
  line-height: 130%;
  padding:0px;
}
  .extra-benefits__row {
    {% comment %} position:absolute;
    bottom:28px;
    left:0px;
    right:0px; {% endcomment %}
    gap:16px;
    z-index:10;
  }
  .extra-benefits__icon {
    width: 16px;
    height: 16px;
    margin-bottom: 4px;
  }

  .extra-benefits__item:not(:last-child) {
    padding-right:16px;
  }
  .extra-benefits__title{
    font-size:10px;
    color:#707070;
  }
  {% comment %} .overlay{
    position:absolute;
    z-index:5;
    top:50px;
    left:0px;
    bottom:0px;
    right:0px;
    background: linear-gradient(1.17deg, rgba(0, 0, 0, 0.7) 1%, rgba(0, 0, 0, 0) 100%);
  } {% endcomment %}
}
</style>
